* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    max-width: 1600px;
    font-family: "Merriweather", "Inter";
}

/* variable color */
:root {
    --white: #ffffff;
    --primary: #FF0000;
    --secondary: #070211;
}

header {
    margin:auto;
    margin-top: 50px;
    max-width: 1320px;
    height: 600px;
    border-radius: 16px;
    background: linear-gradient(to bottom, #070211, #580af300), url(../images/Banner\ Image.png);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header p {
    font-size: 32px;
    text-align: center;
}

header h1 {
    font-size: 72px;
    text-align: center;
}

/* offer section style  */
section {
    width: 1320px;
    margin: auto;
    margin-top: 120px;
}

img {
    max-width: 100%;
}

.offer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.offer h1 {
    font-size: 88px;
    color: var(--primary);
    margin-bottom: 48px;
}

.offer p {
    font-size: 24px;
    color: var(--primary);
    margin-bottom: 16px;
}

.offer h3 {
    font-size: 48px;
    color: var(--secondary);
    margin-bottom: 48px;
}

/* welcome section design  */
.welcome {
    margin:auto;
    margin-top: 120px;
    height: 600px;
    background: linear-gradient(to right, #070211, #07021100), url(../images/Vectorrr.png);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    padding: 68px 126px;
    color: var(--white);
    gap: 40px;
}

.welcome-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex-basis: 70%;
}

.welcome-image {
    flex-basis: 30%;
}

h2 {
    font-size: 64px;
    color: var(--white);
}

p {
    font-size: 18px;
    color: var(--white);
}

a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

/* offer date section design  */
.offer-date {
    border-radius: 16px;
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    text-align: center;
    background: linear-gradient(to bottom, #ff00001f 0%, #ff000000 100%);

}

.offer-date h4 {
    font-size: 24px;
    margin-bottom: 5px;
    color: var(--secondary);
}

.offer-date h4 span {
    font-size: 24px;
    color: var(--primary);
}

.offer-date button {
    padding: 16px 32px;
    background: var(--primary);
    color: var(--white);
    font-size: 20px;
    border-radius: 8px;
    border: none;
}


/* coming-soon section style */
.coming-soon {
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.items h2 {
    color: var(--secondary);
    font-size: 48px;
    margin-bottom: 22px;
}

.items p {
    color: var(--secondary);
    font-size: 20px;
    margin-bottom: 43px;
}

.items {
    flex-basis: 33%;
}

.items h5 {
    color: var(--primary);
    font-size: 24px;
    margin-bottom: 16px;
}

.border-style {
    max-width: 100%;
    border-radius: 50%;
    border: 15px solid var(--primary);
    padding: 30px;
}

.items:last-child {
    padding-left: 100px;
}


/* holidays section style */
.holidays {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.holidays-content h1 {
    font-size: 72px;
    color: var(--secondary);
    margin-bottom: 28px;
}

.holidays-content h5 {
    font-size: 24px;
    margin-bottom: 16px;
}

.holidays-content p {
    color: var(--secondary);
    font-size: 20px;
}

span {
    color: var(--primary);

}


.group75 {
    transform: translate(-150px, 100px);
}

.group44 {
    transform: translate(-100px, -100px);
}

.rectangle {
    transform: translate(500px);
}


/* gifts section design  */
.gifts {
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.title {
    text-align: left;
}

.title h5 {
    font-size: 24px;
    color: var(--primary);
    margin-bottom: 16px;
}

.title h2 {
    font-size: 48px;
    color: var(--secondary);
    margin-bottom: 22px;
}

.title p {
    font-size: 20px;
    color: #0702119c;
}

.gallery {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

/* newsletter section style  */
.newsletter {
    border-radius: 16px;
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--secondary);
    background: #ff000010;
    padding: 80px;
    text-align: center;
}

.newsletter h1 {
    font-size: 48px;
    color: var(--secondary);
    margin-top: 20px;
    margin-bottom: 22px;
}

.newsletter p {
    font-size: 20px;
    color: #0702119d;
}

.newsletter form {
    display: flex;
    margin-top: 48px;

}

.newsletter form input {
    padding: 20px 30px;
    width: 70%;
    background: var(--white);
    color: #0702119d;
    border-top-left-radius: 30px;
    border-end-start-radius: 30px;
    border: none;
    width: 600px;
    font-size: 18;
}

input:focus{
    outline: none;
}
.btn {
    font-size: 20px;
    padding: 20px 30px;
    background: var(--primary);
    border: none;
    border-end-end-radius: 30px;
    border-top-right-radius: 30px;
    color: var(--white);
    cursor: pointer;
    width: 200px;
}


/* footer section style  */
footer{
    background: var(--secondary);
    margin-top: 120px;
    padding: 120px  0px;
}
.footer-container{
    width: 1320px;
    margin: 0 auto;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-social{
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    padding: 48px;
    border-block: 1px solid rgba(255, 255, 255, 0.151);
    margin-block: 50px;
}
.footer-social img{
    cursor: pointer;
}
.copyright{
    display: flex;
    align-items: center;
    justify-content: space-between;
}